.cards{
    /* padding: 10px; */
  /* margin-top: 2rem; */
  display: grid;
  grid-template-columns: 22% 22% 22% 22%;
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  justify-content: center;
}

.card{
    
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    border: 2px solid rgb(85, 39, 39);
    margin: 2rem 1rem;
    text-align: center;
}

.card .image{
    /* justify-self: center; */
    text-align: center;
    margin: 0.5rem;
}

.card .image img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* .card .info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

.part .card .title{
    color: rgb(85, 39, 39);
    width: 100%;
    margin: 0;
    text-align: center;
}

/* .card .info .price{
    border: 1px solid rgb(85, 39, 39);
    margin: 0.6rem;
    text-align: center;
    background: rgb(85, 39, 39);
    color: white;
    width: 30%;
    align-self: center;
    padding: 0.6rem;
} */

@media (max-width: 768px) {

    .cards{
    
        grid-template-columns: 45% 45%;
        row-gap: 0.5rem;
        column-gap: 0.5rem;
        justify-content: space-around;
        
      }

    .card{
        border-width: 1.5px;
    }
    .card .image img{
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    .card .info .title{
        font-size: 0.5rem;
    }

    .card .info .price{
        font-size: 0.6rem;
        padding: 0.2rem 0.3rem;
        
    }
}