.Footer{
    background-color: rgb(85, 39, 39);
    color: white;
    text-align: center;
    padding: 0.5rem;
    /* margin: 1rem; */
    /* bottom: 0%;
    width: 100%; */
    /* position: absolute; */
    margin-top: auto;
    /* bottom: 0; */
}

.Footer .contact{
    list-style: none;
}

.Footer .copyright{
    text-align: center;
    margin-left: 0.6rem;
}