.head{
    padding: 0;
    /* margin: -10px -10px; */
    text-align: center;
    /* color: rgb(85, 39, 39); */
    color: white;
    background: rgb(85, 39, 39);
    display: flex;
    flex-direction: row;
    
}

/* .head h1{
    background: rgb(85, 39, 39);
    text-transform: uppercase;
    font-weight: 400;
}

.head h3{
    text-transform: capitalize;
    margin-top: -10px;
    line-height: 0%;
    font-size: 1.5rem;
    background: rgb(85, 39, 39);
    font-weight: 300;
} */


/* -------------------------Responsive---------------------------- */
@media (max-width:768px){
    .head{
        text-align: left;
        margin-left: 0.6rem;
        /* align-self: left; */
        width: 100%;
        justify-content: space-between;

    }

    /* .head h1{
        font-size: 1.5rem;
        font-weight: 300;
    }
    
    .head h3{
        margin-left: 3rem;
        font-size: 1rem;
        font-weight: 100;

    } */
}