.menu{
 text-align: center;
 margin: 0.75rem;
 padding: 0.75rem;
}

.menu .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
    font-size: 1rem;
    margin: 0.5rem 2.5rem;
}

@media (max-width:768px) {
    .menu .row{
        margin: 0.3rem;
    }
}