.menu{
 text-align: center;
 margin: 0.75rem;
 padding: 0.75rem;
 /* margin-bottom: 1rem; */
}

.menu .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* font-weight: 500; 
    font-size: 1rem;
    margin: 0.5rem 2.5rem; */
}

.menu .row span{
    /* font-weight: 600;  */
    font-size: 1.2rem; 
    margin: 0rem 2.5rem;
}

.menu .row #priceHead{
    font-weight: 600;
  }

@media (max-width:768px) {
    

    .menu .row{
        margin: 0.3rem;
    }
    
    .menu .row span{
        margin: 0;
    font-weight: 500; 
    font-size: 1.2rem; 

    }
}