
.menuhead{
  color: white;
  text-align: center;
  font-family: 'Pacifico', cursive;
}
.menuhead p{ 
  font-weight: 300;
  font-size: 1.5rem;
}

.table{
  background: rgb(128, 83, 83);
  padding: 1rem;
  margin-top: 2.5rem;
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
  margin-bottom: 3rem;
}



@media (max-width:768px){
    
.main{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background:  rgb(85, 39, 39);
   }   
   
   
   
  .table{
    padding: 0%;
    margin-left: 10%;
    width: 80%;
  }

}