.cards{
    /* padding: 10px; */
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  justify-content: center;
}
.menuhead{
  color: white;
  /* font-weight: 300; */
text-align: center;
}
.menuhead p{ 
  font-weight: 300;
  font-size: 1.5rem;
}
.table{
  background: rgb(128, 83, 83);
  padding: 1rem;
margin-top: 2.5rem;
  margin-left: 12.5%;
  margin-right: 12.5%;
  width: 75%;
  
}



@media (max-width:768px){
    
.main{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background:  rgb(85, 39, 39);
   }   
   
   
   .cards{
    
  grid-template-columns: 35% 35%;
  row-gap: 0.75rem;
  column-gap: 0.75rem;
  justify-content: space-around;
  
}
}